RewriteEngine On
RewriteBase /casa-picto/

# Ignore actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite /api/path/to/endpoint to /api/path/to/endpoint.php
RewriteRule ^api/(.+)$ api/$1.php [L,QSA]